<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <%- include('./common/head'); %>
</head>

<body class="d-flex h-100 text-center text-white bg-dark">

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <%- include('./common/header'); %>

            <main class="px-3">
                <div>
                    <h1><%= message %> </h1>
                    <p>
                        <%= error?.stack %>
                    </p>
                </div>
            </main>

            <%- include('./common/footer'); %>

    </div>

</body>

</html>